:root {
  --white: #fefefe;
  --black: #222222;
  --black-transparent: #22222260;
  --black-transparent-hover: #44444450;
  --black-transparent-backdrop: blur(5px);
  --black-100: #333333;
  --black-100-transparent: #33333360;
  --black-200: #444444;
  --black-200-transparent: #44444460;
  --black-300: #555555;
  --black-300-transparent: #55555560;

  --red: #f74720;

  --gray-900: #575757;

  --gray-800: #767676;

  --gray-600: #a1a1a1;

  --gray-400: #cfcfcf;

  --gray-200: #eeeeee;

  --gray-100: #fafafa;

  --accent-color-blue: #10a5ff;
  --accent-color-blue-dark-gradient-background: linear-gradient(
    135deg,
    rgba(37, 127, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  --button-background: #10a5ff;
  --button-hover: #20b5ff;

  --status-color-error: #f74720;
  --status-color-success: #3bd865;
  --status-color-pending: #f7cc20;

  --shadow: drop-shadow(0 0 3px #00000044);
  --shadow-large: drop-shadow(0 0 20px #00000044);
  --shadow-light: drop-shadow(0 0 3px #00000022);
}

* {
  padding: 0;
  margin: 0;
  color: var(--white);

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  background: var(--black);
}

body {
  background: var(--accent-color-blue-dark-gradient-background);
}

button {
  position: relative;
  border: none;
  background: var(--accent-color-blue);
  color: var(--white);
  padding: 12px 32px;
  margin: 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
button > div {
  color: var(--white);
}

button:hover {
  filter: brightness(105%);
}

button:focused {
  filter: brightness(95%);
}

input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--accent-color-blue);
}

strong {
  font-weight: 800;
  color: var(--true-black);
}

.fade-blur-enter-active,
.fade-blur-leave-active {
  transition:
    opacity 0.4s ease,
    filter 0.4s ease;
}

.fade-blur-enter-from,
.fade-blur-leave-to {
  opacity: 0;
  filter: blur(8px);
}

.fade-blur-enter-to,
.fade-blur-leave-from {
  opacity: 1;
  filter: blur(0px);
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease;
  will-change: opacity, transform;
}

.slide-fade-enter-from {
  opacity: 0;
  transform: translateX(50px);
}

.slide-fade-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.slide-fade-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(50px);
}
